/* Page */
.col-md-4 {
  border: 1px solid black;
}

/* Totals */
.total-income {
  background-color: rgb(0, 255, 0, .1) !important;
  color: black;
}
.badge-total-income {
  color: black !important;
}

.total-expense {
  background-color: rgb(255, 0, 0, .1) !important;
  color: black;
}
.badge-total-expense {
  color: black !important;
}

.total-remaining {
  background-color: rgb(255, 255, 0, .1) !important;
  color: black;
}
.badge-total-remaining {
  color: black !important;
}

.total-saving {
  background-color: rgb(255, 0, 0, .1) !important;
  color: black;
}
.badge-total-saving {
  color: black !important;
}

.total-investment {
  background-color: rgb(0, 255, 0, .1) !important;
  color: black;
}
.badge-total-investment {
  color: black !important;
}

/* Breakdown */
.income {
  background-color: rgb(0, 255, 0, .1);
  color: black;
}
.badge-income {
  background-color: green;
  color: white;
}

.expense {
  background-color: rgb(255, 0, 0, .1);
  color: black;
}

.badge-expense {
  background-color: red;
  color: white;
}

.saving {
  background-color: rgb(255, 0, 0, .1);
  color: black;
}

.badge-saving {
  background-color: orange;
  color: white !important;
}

.investment {
  background-color: rgb(255, 0, 0, .1);
  color: black;
}

.badge-investment {
  background-color: green;
  color: white !important;
}

.badge-none {
  color: black !important;
}
